body {
    padding: 50px;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 5px 0;
}
form {
    display: inline;
}
button {
    margin-left: 10px;
    height: 30px;
}
.completed {
    text-decoration: line-through;
    color: gray;
}